# Frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
frontend/coverage
frontend/.DS_Store

# Backend
backend/bin
backend/vendor
backend/coverage
backend/coverage.out
backend/server
backend/server.exe
backend/.DS_Store

# General
.env
*.log
build/
